
<div id="login_box">
  <%= form_tag do %>
    <fieldset>
      <legend>Login</legend>

      <label for="mail">Mail:</label>
      <%= text_field_tag :mail, params[:mail] %>

      <label for="password">Password:</label>
      <%= password_field_tag :password, params[:password] %>

      <%= submit_tag "Login"%>

    </fieldset>
  <% end %>
  <br/>
  <p>
  <h5>Usuario de prueba:</h5>
  Mail: prueba@upo.com
  Password: prueba
</p>

</div>