
root { 
    display: block;    
}

html,body{
    margin:0px;    
}

body{
    text-align: center;
    background: url(../images/bg.png) repeat center 0;
}

#wrapper{
    margin:0 auto 0 auto;
    width: 80%;    
}

#header{   
    outline-color: blue;
    outline-style: solid;
    outline-width: 1px;
}

#contents{
    text-align: center;
    margin: 15px;
}

#footer{
    clear: both;
    outline-color: blue;
    outline-style: solid;
    outline-width: 1px;
}

#channels_box{
    float: left;    
    width: 20%;
}

#room_content_box{
    float: left;    
    width: 60%;
}

#display_canales{
    height: 250px;

}

#controles{    
}

#list_online_people_box{
    float: right;
    height: 100%;
    width: 20%;
}

#login_box{   
    
}

#room_info{
    height: 100%;
}

#comments_list{
    overflow-y:scroll;
    height: 250px;
}

#usuariosPrueba{
    width: 50%;
    border: 3px;
    border-style: groove;
}