
<div id="room_info">

  <% if @channel %>
    <div id="comments_list">
      Canal <%= @channel.name %>: <%= @channel.description %>
      <hr/>

      <%= render @comments %>




    </div>
    <div id="comment_box">
      <%= render 'comments/form' %>
    </div>
  <% else %>
    Elija un canal
  <% end %>
</div>
