<div id="room_info">
  <% if @channel %>
    Canal <%= @channel.name %>: <%= @channel.description %>
    <hr/>

    <%= render @channel.comments %>

    <%= render 'comments/form' %>



  <% else %>
    Elija un canal
  <% end %>

</div>
