
<% content_for :channels_box_content do %>
  <p>Lista de canales</p>
  <%= render "channels" %>
<% end %>

<% content_for :room_content do %>
  Canal
<% end %>

<% content_for :list_online_people_content do %>
  Lista de gente
<%  end %>
