
<% content_for :channels_box_content do %>  
  <div id="display_canales">
    <p>Lista de canales</p>
    <ul>
      <%= render @channels %>
    </ul>
  </div>
  <div id="controles">
    <%= link_to 'Nuevo', new_channel_path %>
  </div>


<% end %>

<% content_for :room_content do %>
  <%= render 'chatroom' %>
<% end %>

<% content_for :list_online_people_content do %>
  <% if @channel %>
    Miembros:
    <ul>
      <%= render @channel.users %>
    </ul>
  <% end %>
<%  end %>
