
<% content_for :channels_box_content do %>

  <div id="display_canales">
    <p>Lista de canales</p>
    <%= render "channels" %>
  </div>

  <div id="controles">
    <%= link_to 'Nuevo', new_channel_path %>
  </div>

<% end %>

<% content_for :room_content do %>
  Canal
<% end %>

<% content_for :list_online_people_content do %>
  Lista de gente
<%  end %>
